@model IEnumerable<UserInfoManager.Data.Models.TaxOffice>

@{
    ViewBag.Title = "Tax Offices";
}

<h2>Tax Offices</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.ActionLink("Add New " + @Html.Raw(HttpUtility.HtmlDecode("&#128229;")), "Create", "TaxOffice")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("" + @Html.Raw(HttpUtility.HtmlDecode("&#128221;")), "Edit", new { id = item.Id })
            @Html.ActionLink("" + @Html.Raw(HttpUtility.HtmlDecode("&#128220;")), "Details", new { id = item.Id })
            @Html.ActionLink("" + @Html.Raw(HttpUtility.HtmlDecode("&#10060;")), "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
